*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif ;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.basic-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    width: 192px;
    height: 56px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.basic-btn:hover{
    background-color: #183891;
}


.item-flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.navbar-container{
    padding: 20px 0px;
    background-color: #FFFFFF;
}
.dev-logo img{
    width: 134px;
    height: 44px;
}

.nav-item ul{
    list-style: none;
    gap:30px;    
}
.nav-item ul li a {

    color: #575757;   
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; 
}
.nav-item ul li a:hover {

    color: #0e0d0d;
}


.hero-container{
    width: full;
    min-height: 610px;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,1)),url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text{
    width: 80%;
    margin: 0 auto;
    background-color: none;
    
}

.hero-text h1{
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 15px;
}
.hero-text p{
    text-align: center;
    font-size: 22px;
    color: #FFFFFF; 
    margin-bottom: 220px;
}
.hero-btn{
    display: flex;
    justify-content: center;
}
.hero-btn-outline{
    background-color: #1D4ED8;
}
 